body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    background-color: #ffffff;
    min-height: 100vh;
    font-weight: 400px;
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    align-items: flex-start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: 'nanum-pen-regular';
    src: url('fonts/nanum-pen-regular.ttf') format('ttf');
}


/* Стили для контейнера, содержащего кнопки */
.contain {
    max-width: 400px; /* Максимальная ширина контейнера */
     /* Обрезаем содержимое, если оно выходит за границы */
    display: flex; /* Используем flex-контейнер */
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
    flex-direction: column; /* Добавлено для вертикального выравнивания */
}

.navigation {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 10px;
}

.navigationcase {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали по центру */
    width: 100%;
    margin-bottom: 15px;
    gap: 10px;
}

.tgoper {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tgoper:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tgkanal {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tgkanal:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tginst {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tginst:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tgoper1 {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.tgoper1:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tgkanal1 {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.tgkanal1:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tginst1 {
    align-items: center;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.tginst1:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tgoper2 {
    align-items: center;
    margin-top: 5px;
    height: 26px;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tgoper2:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tgkanal2 {
    align-items: center;
    margin-top: 5px;
    height: 26px;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tgkanal2:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.tginst2 {
    align-items: center;
    margin-top: 5px;
    height: 26px;
    z-index: 1000;
    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    background-color:#ffffff;
    color: rgb(0, 0, 0);


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}
.tginst2:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}




.telegram-logo {
    width: 22px;
    height: 22px;
    margin-right: 2px;
    margin-left: 5px;
}

.textlogo {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#kanal {
    font-size: 16px;
    color: rgb(151, 151, 151);
    display: block;
    width: 100%;
    letter-spacing: 0,5px;
    margin-bottom: 4px;
}

#kanalcase {
    font-size: 14px;
    color: rgb(150, 150, 150);
    display: block;
    width: 100%;
    letter-spacing: 0,5px;
    margin-bottom: 4px;
}

#kanal2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: rgb(121, 121, 121);
}


.ph1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.video {
    margin-top: -50px;
    margin-bottom: -50px;
}

.video2 {
    margin-top: -60px;
    margin-bottom: -10px;
}



/* Стили для кнопок */
.button {
    width: 80%;
    height: 60px;
    padding: 10px 10px;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 30px;


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.button span {
    font-weight: bold; /* Делаем текст жирным */
}

.button:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}







.contplanet {
    max-width: 400px;
    display: none;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    text-align: center;
    background: #ffffff;
}

.clothes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, 1fr);
    width: 100%;
    margin-top: 10px;
}

.cloth {
    width: 100%;
}

.imgclothes {
    width: 90%;
}

.прайс {
    color: black;
    font-size: 14px;
    font-weight: bold;
    
    margin-bottom: 3px; /* Отступ снизу */
    text-align: center;
}

.купить {
    width: 90%;
    height: 40px;
    padding: 10px 10px;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold; /* Делаем текст жирным */


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.купить:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}






.цена {
    color: rgb(200, 200, 200);
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    justify-content: center;
    align-items: center;
}

.nameclothes {
    margin-bottom: 5px;
    font-size: 12px;
    color: rgb(160, 160, 160);
    word-wrap: break-word; /* Обрыв длинных слов */
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 140%;
    min-height: 0;
    height: auto;
    overflow: hidden; /* Скрытие избыточного текста */
    width: 100%; /* Занимать всю доступную ширину */
}

















.window {
    display: none;
    text-align: center;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.img3 {
    width: 100%;
}
.img4 {
    width: 100%;
    border-radius: 20px;
}
.y {
    border-radius: 5px;
    background: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding: 0 5px;
    width: fit-content;
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.pufforder {
    width: 100%;
    height: 60px;
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;

    background-color:#ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold; /* Делаем текст жирным */


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.pufforder:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.pufforderinactive {
    color: #666;
    box-shadow: 3px 3px 12px #e1e1e1, -1px -1px 12px #e9e9e9;
    transform: translateY(2px);
    opacity: 0.5;
}

.nameclothes2 {
    color: rgb(160, 160, 160);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; /* Отступ сверху */
}

.цена1 {
    color: rgb(5, 5, 5);
    text-align: left;
    font-size: 14px;
    margin-top: 1px;
    font-weight: bold;
}

.rr {
    display: flex;
    justify-content: space-between;
}
.s {
    color: rgb(194, 71, 196);
    font-size: 14px;
    margin-top: 10px; /* Отступ сверху */
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.overlay {
    position: fixed;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.setka {
    width: 400px;
    
    border-radius: 14px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(95, 95, 95, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.imgsetka {
    width: 100%;
    margin-bottom: 20px;
}

.imgl {
    width: 100%;
}

.close-button {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 30px;
    cursor: pointer;
}




.v {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 10px; /* Отступ сверху */
}

.razmers {
    display: flex;
    gap: 20px;
    padding: 0 15px;
    margin: 5px -15px 0;
}

.razmer1 {
    width: 60px;
    height: 30px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;

    background-color:#ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold; /* Делаем текст жирным */


    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.razmer1active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
    opacity: 0.5;
}


#gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 20px 0 0 20px;
}

.photo {
    display: inline-block;
    cursor: pointer;
}

#overlayPP {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlayPP img {
    width: 400px;
    border-radius: 20px;
}
























.container {
    max-width: 400px;
    overflow: hidden;
    display: none;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    background: #ffffff;
}

.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 20px;
    margin: 20px 10px;
}

.img {
    width: 100%;
}

.item {
    display: grid;
    width: 100%;
    align-items: center;
    align-content: space-between;
}

.btn {
    width: 100%;
    height: 35px;
    margin: 0;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold; /* Делаем текст жирным */

    border-radius: 10px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.btn:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}








.price {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px; /* Отступ сверху */
    margin-bottom: 3px; /* Отступ снизу */
    text-align: center;
}

.skidprice {
    color:rgb(255, 54, 54);
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */
    text-align: center;
}

.pricecompl {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 3px; /* Отступ снизу */

}

.namecase {
    font-size: 12px;
    color: rgb(110, 110, 110);
    text-align: center;
    word-wrap: break-word; /* Обрыв длинных слов */
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 140%;
    overflow: hidden; /* Скрытие избыточного текста */
    width: 100%; /* Занимать всю доступную ширину */
}

form {
    display: none;
    text-align: center;
    width: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 10px;
}

.img2 {
    width: 100%;
    margin-top: 10px;
}

.namecase2 {
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; /* Отступ сверху */
}

.price1 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price2 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price3 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price4 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.pricecompl-container {
    display: flex;
}

.price5 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.plus {
    color: rgb(110, 110, 110);
    font-size: 14px;
    margin: 0 10px; /* Добавьте отступы с обеих сторон знака "+" */
}

.price50 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price6 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price7 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price8 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price9 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price10 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price11 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price12 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price13 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price14 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price15 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price16 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price17 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price18 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price19 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price20 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price21 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price22 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price23 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price24 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price25 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price26 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.zakaz {
    color: rgb(255, 54, 54);
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.p {
    color: black;
    font-size: 14px;
    text-align: left;
    margin-top: 20px; /* Отступ сверху */
}

.models {
    display: flex;
    gap: 4px;
    padding: 0 15px;
    margin: 10px -15px 0;
    overflow-x: scroll;
    color: white;
}

.model1 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model2 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model3 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model4 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.modelcompl {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.modelcomplair {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.m {
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pricem {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -.01em;
    color:black;
}

.swiper-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 5px;
}

.swiper-slide {
    background-color: #ffffff;
    border-radius: 20px;
}


.order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-top: 10px;

    background-color:#ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold; /* Делаем текст жирным */


    border-radius: 20px;
    border: none;
    
    box-shadow: inset -1px -1px 20px #d4d4d4, inset -1px -1px 10px #d4d4d4, 1px 1px 12px #d4d4d4,  1px 1px 12px #d4d4d4;
}

.order:active {
    color: #666;
    box-shadow: inset 1px 1px 5px #e1e1e1, inset 1px 1px #e9e9e9;
    transform: translateY(2px);
}

.orderinactive {
    color: #666;
    box-shadow: 3px 3px 12px #e1e1e1, -1px -1px 12px #e9e9e9;
    transform: translateY(2px);
    opacity: 0.5;
}







.information {
    background-color:rgb(230, 230, 230);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card1 {
    border-bottom: 3px solid white;
}

.order-card {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.TPC {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    font-weight:bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -.01em
}

.info {
    font-size: 15px;
    text-align: left; /* Текст начинается слева */
    white-space: normal; /* Перенос слов на следующую строку */
    margin: 5px 10px;
    margin-bottom: 10px;
}






.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;

    gap: 4px;
    padding: 0 15px;
    overflow-x: scroll;
    color: white;
    background-color: #fafafa;
}

.section {
    cursor: pointer;
    height: 25px;
    padding: 4px 8px;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    border-radius: 5px;
    flex-shrink: 0;
    text-align: center;
    transition: background-color 0.3s; /* Добавляем анимацию смены цвета фона */
    /* From https://css.glass */
    background: rgba(95, 95, 95, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.section.active {
    background-color: rgb(204, 204, 204); /* Изменяем цвет фона для активного раздела */
}

